body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #e78181;
    color: #333;
}

/* Barra de menú */
nav {
    background-color: #810202;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}
#Encabezado[
    background-color: #6a0572;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
nav ul li a:hover {
    color: #ff6347;
}

/* Encabezado principal */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Contenido principal */
p, h2, h3 {
    margin: 15px;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Listas ordenadas */
ol {
    margin: 15px;
    padding-left: 40px;
}

li {
    margin: 10px 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}